ion-content {
    --background: #f4f5f8;
}

ion-card {
    /* Medium Blue Theme match */
    background: #227ea8;
    color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(34, 126, 168, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 4px solid #cfd8dc;

    ion-card-title,
    ion-card-subtitle {
        color: #ffffff;
        font-weight: bold;
    }

    ion-card-subtitle {
        opacity: 0.9;
        margin-top: 8px;
    }
}

/* Input Styling - High Contrast (White bg, Black text) */
ion-item {
    --background: #ffffff;
    --color: #000000;
    --placeholder-color: #666666;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

ion-input {
    font-weight: bold;
    --placeholder-font-weight: bold;
}

ion-label {
    color: #000000 !important;
    /* Pure black */
    font-weight: 800;
    /* Extra bold */
    font-size: 1.05em;
}